References:

C.W. Park, M. Kornbluth, J. Vandermause, C. Wolverton, B. Kozinsky, J.P. Mailoa, Accurate and scalable graph neural network force field and molecular dynamics with direct force architecture, npj Comput. Mater. 7(1) (2021) 73. https://github.com/ken2403/gnnff.git

python==3.8.5

torch==1.13.1
numpy==1.24.1
ase ==3.22.1
schnetpack==1.0.1
scikit-learn==1.2.2

